@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        if (Model.Account == null)
        {
                <h1 class="display-4">Login & start shopping!!!</h1>
        }
        else
        {
            <h1 class="display-4">Welcome @HttpContext.Session.GetString("UserName")</h1>
        }
    }

</div>